In [2]:
list1 = ["a", 1 , 3 , 6]
print(list1)

['a', 1, 3, 6]

In [3]:
list2 = [i for i in range (10)]
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
list3 = [[1,2,3] for i in range (5)]
print(list3)

[[1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [5]:
list4 = [[j for j in range (5)] for i in range (7)]
print(list4)

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [9]:
list5 =[[j+i for j in range(5)] for i in range(5)]
print(list5)

[[0, 1, 2, 3, 4], [1, 2, 3, 4, 5], [2, 3, 4, 5, 6], [3, 4, 5, 6, 7], [4, 5, 6, 7, 8]]

In [7]:
R = int(input("Enter the elements in row :"))
C = int(input("Enter the elements in column: "))

list1 = [int(x) for x in input().split()]
print("list in 1D:", list1)

a = []
for i in range(R):
  a.append([])
  for j in range(C):
    a[i].append(list1[C*i+j])


print("List in 2D: ", a)

Enter the elements in row :2
Enter the elements in column: 2
1 2 3 4
list in 1D: [1, 2, 3, 4]
List in 2D:  [[1, 2], [3, 4]]